$white: #fff;
$dark-blue: #253757;
$gray: #6c788b;
$light-gray: #c0cdd7;
$dark-gray: #334563;
$red: red;
$light-blue: #56ccf2;
$yellow: #fcc304;
$dark-pink: #f25656;
$green: #15d850;
$colors: $light-blue, $yellow, $dark-pink, $green;
$tablet-min-width: 639px;
$small-desktop-min-width: 1023px;
$desktop-min-width: 1600px;
$large-screen-min-width: 2560px;
$effect-duration: 0.3s;
